<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Posts:</h1>
    <% if (posts.length) { %> <% posts.forEach(post => { %>
    <ul>
      <li>
        <article>
          <h2>
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
            <%= post.id %>
          </h2>
          <p><%= post.text %></p>
          <div class="info">
            <span><%= post.date %></span>
            <span><%= post.author %></span>
          </div>
        </article>
      </li>
    </ul>
    <% }); %> <% } %>
  </body>
</html>
